@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>

    </head>
    <body>
        <div class="container">
            <form method="POST" name="form" novalidate action="@routes.LoginController.onSubmit()">
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input
                    style="max-width: 300px"
                    id="email"
                    type="text"
                    class="form-control"
                    name="username"
                    @*[(ngModel)]="userPost.email"
                    #email="ngModel"
                    required*@
                    />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    style="max-width: 300px"
                    id="password"
                    type="password"
                    class="form-control"
                    name="password"
                    @*[(ngModel)]="userPost.password"
                    #password="ngModel"
                    required*@
                    />
                </div>
                <div class="form-group">
                    <button
                    class="btn btn-primary" type="submit"
                    [disabled]="!f.valid || checkTime() ">Submit
                    </button>
                </div>
            </form>
        </div>
    </body>
</html>
